.subscription {
    background-color: var(--color-white);
    color: var(--color-grey-800);

    @media (--tablet) {
        margin-inline: auto;
        width: min(100vw - 3rem, 58rem);
        display: flex;
        padding: 1.5rem;
        flex-direction: row-reverse;
        border-radius: 2.25rem;
        box-shadow: var(--shadow-grey);
    }

    &[hidden] {
        display: none;
    }

    &__picture {
        img {
            width: 100%;
            max-height: 18.75rem;
            object-fit: cover;
            object-position: bottom center;

            @media (--tablet) {
                max-height: none;
                height: 100%;
                border-radius: 1rem;
            }
        }
    }

    &__content {
        padding-block: 2.5rem;
        padding-inline: 1.5rem;

        @media (--tablet) {
            padding-block: 4.5625rem 4.625rem;
            padding-inline: 2.5rem 4rem;
            max-width: 30rem;
        }
    }

    &__title {
        font-size: var(--text-3xl);
        color: var(--color-grey-900);
        margin-block-end: 1.5rem;

        @media (--tablet) {
            font-size: var(--text-4xl);
        }
    }

    &__description {
        margin-block-end: 1.5rem;
        line-height: 1.5rem;
    }

    &__benefits {
        line-height: var(--leading-paragraph);
        padding: 0;
        margin-block-end: 2.6875rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
    }

    &__benefits-item {
        display: flex;
        align-items: start;

        &::before {
            content: url("/assets/icons/icon-list.svg");
            margin-block-start: 0.0625rem;
            margin-inline-end: 1rem;
        }
    }
}
