.success {
    background-color: var(--color-white);
    padding-block: 9.3125rem 2.5rem;
    padding-inline: 1.5rem;

    @media (--tablet) {
        border-radius: 2.25rem;
        padding-block: 3rem 4rem;
        padding-inline: 4rem;
        margin: 0 auto;
        width: min(100vw - 3rem, 31.5rem);
        box-shadow: var(--shadow-grey);
    }

    &__icon {
        width: 4rem;
        height: 4rem;
        margin-block-end: 2.5rem;
    }

    &__title {
        font-size: var(--text-3xl);
        margin-block-end: 1.5rem;

        @media (--tablet) {
            font-size: var(--text-4xl);
        }
    }

    &__description {
        margin-block-end: 16.4375rem;
        line-height: 1.5rem;

        @media (--tablet) {
            margin-block-end: 2.5rem;
        }
    }
}
