.text-field {
    &__label-wrapper {
        width: 100%;
        margin-block-end: 0.6875rem;
        font-size: var(--text-xs);
        font-weight: var(--font-bold);
        display: flex;
        justify-content: space-between;
    }

    &__label {
        color: var(--color-grey-900);
    }

    &__hint {
        color: var(--color-tomato-500);
    }

    &__input {
        border-radius: 0.5rem;
        padding-inline: 1.4375rem;
        width: 100%;
        height: 3.5rem;
        border: 1px solid var(--color-grey-200);
        background-color: transparent;
        margin-block-end: 1.5rem;

        &[aria-invalid="true"] {
            background-color: var(--color-tomato-700);
            border-color: var(--color-tomato-500);
            color: var(--color-tomato-500);
        }
    }
}
