/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    line-height: var(--leading-none);
    font-family: var(--font-primary);
    font-size: var(--text-base);
    background-color: var(--color-grey-800);
    min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

@supports selector(:focus-visible) {
    button:focus,
    a:focus,
    input:focus {
        outline: none;
    }

    button:focus-visible,
    a:focus-visible,
    input:focus-visible {
        outline-offset: var(--focus-outline-offset);
        outline-style: var(--focus-outline-style);
        outline-width: var(--focus-outline-width);
        outline-color: var(--focus-outline-color);
    }
}
